.highlight {
  cursor: pointer;
  border: 1px dotted rgba(255,0,0,.5);
}

.highlight-adversereaction {
  background-color: rgba(255,0,255,.1);
  border-color: rgba(255,0,255,.5);
}

.highlight-drugclass {
  background-color: rgba(0,255,0,.1);
  border-color: rgba(0,255,0,.5);
}

.highlight-severity {
  background-color: rgba(100,100,0,.1);
  border-color: rgba(100,100,0,.5);
}
.highlight-factor {
  background-color: rgba(255,255,0,.1);
  border-color: rgba(255,255,0,.5);
}
.highlight-negation {
  background-color: rgba(0,255,255,.1);
  border-color: rgba(0,255,255,.5);
}